doctype html
html(lang="en")
  head
    block config
      - var page_title = "Prosecco Van Hire | Essex | The Fluid Events Co."
      - var page_description = "Our prosecco van, mobile bar is available for hire throughout Essex, London, and the South East. Our packages can be tailored to suit your wedding, party or corporate event."
      - var page_image = "https://www.thefluidevents.co.uk/img/gallery/fluidfun_laughing_dark.jpg"
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
      meta(name='description' content=page_description)
      meta(name='image' content=page_image)
      meta(name='author' content='ninjanye')
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="theme-color" content="#EFC1BA")

      //- OpenGraph
      meta(property="og:url" content="https://www.thefluidevents.co.uk")
      meta(property="og:type" content="website")
      meta(property="og:title" content=page_title)
      meta(property="og:description" content=page_description)
      meta(property="og:image" content=page_image)

      //- Google Plus card
      meta(itemprop="name" content=page_title)
      meta(itemprop="description" content=page_description)
      meta(itemprop="image" content=page_image)

      meta(name="google-site-verification" content="gack_NwTv1bXdcLAFzvPG-o34aCk4tf8Z-tNdBfI284")

      //- Structured Data (https://developers.google.com/search/docs/guides/intro-structured-data)
      script(type="application/ld+json")
        block structured_data
          include structured_data.json

      //- TODO: Public Events page (where to find us)

    block title
      title=page_title

    style.
      body, main { display: flex; flex-direction: column; align-items: center; }
      main, .full-width { width: 100%; }
      .page-width, .promo_offer img { max-width: 980px; width: 100%; }
      h1, h2 { font-size: 34px; text-transform: capitalize; text-align: center; margin: 20px 0; }
      .mobile_only { display: none; }

      .header_container { display: flex; align-items: center; flex-wrap: wrap;}
      .header_container__logo { flex-grow: 1; padding-left: 20px; }
      .header_container__logo img { height: 60px; }
      .header_container nav { display: flex; flex-grow: 1; flex-flow: row wrap; justify-content: flex-end; }
      .header_container nav a { font-size: 22px; color: black; text-decoration: none; padding: 5px 15px;}
      .header_container nav a .ico { margin-right: 10px; height: 1.5em; float left; }

      .hero { min-height: 600px; width: 100%; background-color: #4f5358; background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; align-items: center; justify-content: center;}
      .hero img { max-height: 400px; width: 100%; margin: auto 20px; display: none; }
      .hero h1 { font-family: "painter"; color: white;}
      .hero.thankyou, .hero.packages { align-items: baseline; }
      .hero.thankyou h1, .hero.packages h1 { margin-top: 30px; }

      .callouts{ min-height: 200px; display: flex; flex-wrap: wrap }
      .callouts a.callout{ flex-grow: 1; text-align: center; text-decoration: none; color: #4f5358; flex-basis: 0;}
      .callouts .callout .title{ text-transform: uppercase; font-weight: bolder; font-size: 22px; letter-spacing: 3px; }
      .callouts .callout__social .title{ color: white; }
      .callouts__blog a.callout { display: flex; align-items: center; flex-direction: column; justify-content: center; flex-basis: auto; }

      .callout__gallery, .callout__packages { color: #4f5358; }
      .callout__events, .callout__blog, .callout__blog__one { background-color: #8C929F; }
      .callout__packages, .callout__blog__two { background-color: #B2B9B3; }
      .callout__gallery, .callout__blog__three { background-color: #E7E9EC; }
      .callout__contact, .callout__blog__four { background-color: #EFC1BA; }
      .callout__blog .title { color: white; }
      .callout__facebook{ background-color: #3A559F; }
      .callout__insta { background-color: #C536A4; }
      .callout__twitter { background-color: #50ABF1; }
      .callout__google { background-color: #DD4B39; }
      .callout object, .callout img { padding-top: 20px; padding-bottom: 20px; max-height: 100px; max-width: 100px; }
      .callout .title { padding-bottom: 10px; }

      @media only screen and (min-width: $mobile_width) {
        .hero h1 { font-size: 100px; }
      }

      @media only screen and (max-width: 639px)
      {
        .desktop_only{display: none !important;}
        .mobile_only{display: block}

        .header_container nav {justify-content: center;}
        .header_container nav a {font-size: 12px;}
        .header_container__logo {text-align: center;}

        .hero { min-height: 300px; }

        .callouts { min-height: 50px; }
        .callouts a.callout { flex-basis: 100%; }
        .callouts__blog a { min-height: 120px; }
        .callout { flex-basis: 80%; }
        .callout img { padding-top: 10px; padding-bottom: 5px; }
        .callout__social { flex-basis: 50%; }
      }

  body(role='document')
    block stylesheets
      link(rel="preload" as="style" href='/css/master.css' onload="this.onload=null;this.rel='stylesheet'")
      noscript
        link(rel="stylesheet" href='/css/master.css')

    .header_container.page-width
      a.header_container__logo(href="/")
        img(src="/img/logo_wide_dark.svg", alt="The Fluid Events Company Logo")

      nav
        a.telephone(href="tel:+447754-219540")
          img.ico(src="/img/phone.svg", alt="telephone icon")
          span.number 07754 219 540

        a.email(href="mailto:info@thefluidevents.co.uk?subject=Website%20Enquiry")
          img.ico(src="/img/email.svg", alt="email icon")
          span.email info@thefluidevents.co.uk

    main(role='main')
      //- include _offer
      block content
      a#contact(visibility="hidden")
      block post_content
      include _contact

    include _footer

    block javascript
      script
        include ../assets/js/lazyload.js
        include ../assets/js/ga.js
        include ../assets/js/csspreload.js
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js" async)
      script(src='/js/main.js' defer)
